@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: dashed;
  border: none;
  outline: none;
  scroll-behavior: auto;
  font-family: 'Poppins', sans-serif;
margin-bottom: 2.8rem;
/* background: linear-gradient(135deg,#ff00d2,#fed90f,#00a2ff,#09f1b8,#ff00d2,#fed90f,#00a2ff,#09f1b8);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-size: 300% 300%;
animation: gradient 8s ease-in-out infinite; */
}

:root {
  --background-color: #ff00d2;
  --sec-background-color: #fed90f;
  --third-background-color: #00a2ff;
  --fourth-background-color: #09f1b8;
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

html {
  font-size: 56%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}



header {
  grid-area: header;
  height: 60px;
  /*background: url('../images/banner-top.png');*/
}

.nav-link {
  font-size: 2.5rem;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(135deg,--background-color,--sec-background-color,--third-background-color,--fourth-background-color,--background-color,--sec-background-color,--third-background-color,--fourth-background-color);

  background-size: 300% 300%;
  animation: gradient 8s ease-in-out infinite;
}
@keyframes gradient {

  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
  
}


.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);

}


#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

/* #container {
  flex: 1 1 30rem;
  background: var(--second-bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
 
  transition: .5s ease;
} */

span {
  color: var(--main-color);
}

.trending-gifs-container,
.uploaded-gifs-container
.searched-gif-result {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: .5s ease;
  margin-top: 4.5rem;
}

.logo {
  margin-top: 2.5rem;
 font-size: 3rem;
  background: linear-gradient(135deg,#ff00d2,#fed90f,#00a2ff,#09f1b8,#ff00d2,#fed90f,#00a2ff,#09f1b8);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-size: 300% 300%;
animation: gradient 8s ease-in-out infinite;
}
@keyframes gradient {

  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
  
}


.trending-gifs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.trending-gifs-container .image-container {
  position: relative;
    overflow: hidden;
    display: flex;
}

.image-container {
  width: 100%;
  transition: .5s ease;
}

.image-container:hover img {
    transform: scale(1.1);
  
}

.image-container .button-container {
  position: absolute;
    bottom: -5rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--second-bg-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.image-container:hover .button-container {
  transform: translateY(0);
}

.view-trending-details-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}


.animate-background {
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}






nav {
  grid-area: menu;
  height: 60px;
  /*background: url('../images//banner-bottom.png');*/
  font-size: 1.75em;
  line-height: 60px;
  padding: 20px;
  color: white;
  display: flex;
}

nav a {
  color: rgb(95, 191, 255);
  text-decoration: none;
  margin: 0 1rem;
}

nav a:hover {
  color: var(--main-color);
}

#container {
  grid-area: container;
  padding-left: 3rem;
  padding-top: 3rem;
  padding-right: 3rem;
}

footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
  color: #ccc;
}

.hidden {
  display: none;
}

a.active {
  color: white;
  font-weight: bold;
}

input#search {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: 1px solid gray;
  border-radius: 4px;
  height: 24px;
  flex: 1 0;
  margin: 1rem;
}

span.favorite {
  padding-left: 10px;
  cursor: pointer;
}

span.favorite.active {
  color: rgb(255, 0, 149);
}



/* End template styling */



/* Add your styles below */


/* Homepage styles */


#home {
  padding: 50px;
}

#home h1 {
  text-align: center;
}

#home div.content {
  max-width: 500px;
  margin: 50px auto;
  font-size: 1.5em;
}

/* End homepage styles */


/* Categories styles */

#categories {
  padding: 50px;
}

#categories h1 {
  color: rgb(187, 135, 255);
}

#categories div.content {
  font-size: 1.25em;
}

div.category {
  display: inline-block;
  width: 20%;
  margin: 1%;
  padding: 1%;
  border: 1px solid rgb(97, 71, 97);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  text-align: center;
}

#categories button {
  font-size: 20px;
  padding: 5px;
  color: rgb(187, 135, 255);
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  cursor: pointer;
}

#categories button:hover {
  color: white;
}

/* End categories styles */


/* Movies styles */

#movies {
  padding: 50px;
}

#movies h1 {
  color: rgb(187, 135, 255);
}

#movies div.content {
  font-size: 1.25em;
  text-align: center;
}

div.movie {
  display: inline-block;
  width: 20%;
  margin: 1%;
  padding: 1%;
  border: 1px solid rgb(97, 71, 97);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  text-align: center;
}

div.movie h1 {
  font-size: 1.5em;
  margin: 5px;
}

div.movie h2 {
  font-size: 1.25em;
  margin: 5px;
}

div.movie img {
  width: 100%;
  margin-bottom: 20px;
}

#movies button {
  font-size: 20px;
  padding: 5px;
  color: rgb(222, 113, 255);
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  cursor: pointer;
}

#movies button:hover {
  color: white;
}

/* Single movie styles */

div.movie-detailed {
  padding: 20px;
  border: 1px solid rgb(97, 71, 97);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  display: table;
  width: 100%;
}

div.movie-detailed p {
  font-size: 1.25em;
  color: #eee;
}

div.movie-detailed div.poster {
  width: 30%;
  display: table-cell;
  padding: 20px;
  margin: 10px;
  border-right: 1px solid rgb(112, 112, 112);
}

div.movie-detailed div.poster img {
  width: 100%;
}

div.movie-detailed div.movie-info {
  padding: 20px;
  margin: 10px;
  vertical-align: top;
  display: table-cell;
  text-align: left;
  width: 70%;
  /* height: 100%; */
}

/* End movies styles */


/* About styles */

#about {
  padding: 50px;
}


#about h1 {
  color: rgb(187, 135, 255);
  margin-bottom: 50px;
}

#about h2 {
  color: rgb(229, 210, 255);
}

/* End about styles */

/* Uploaded GIFs styles */
.uploaded-gif {
  position: relative;
  /* Container needs to be positioned */
}

.image-container {
  position: relative;
  /* Image container needs to be positioned */
}

img {
  display: block;
  /* Ensure the image is a block element */
  max-width: 100%;
  /* Make sure the image fits within its container */
}

.uploaded-gif {
  position: relative;
  /* Container needs to be positioned */
}

.favorite {
  bottom: 0;
  /* Position at the bottom of the container */
  right: 0;
  /* Position at the left of the container */
  background-color: rgba(212, 203, 203, 0.8);
  /* Semi-transparent background for better readability */
  padding: 5px;
  /* Some padding for the link */
}

.favorite:hover {
  background-color: rgba(0, 0, 0, 0.8);
  /* Change background color on hover */
  color: white;
  /* Change text color on hover */
}

.trending-gifs-container,
.uploaded-gifs-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(6, minmax(120px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(120px, 1fr));
}

/* End uploaded GIFs styles */

/*upload form*/
/* Styles for the entire page */


/* Styles for the form container */
.form-container {
  background-color: rgba(255, 255, 255, 0.8);
  /* Semi-transparent background for better readability */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* Drop shadow for the container */
}

/* Styles for the form */
.form {
  text-align: center;
}

/* Styles for the file input */


/* Styles for the custom file input button */
.custom-file-input {
  background-color: #007BFF;
  /* Button background color */
  color: white;
  /* Button text color */
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-file-input:hover {
  background-color: #0056b3;
  /* Button background color on hover */
}

/* Styles for the submit button */
.submit,
.text {
  background-color: #84dd99;
  /* Button background color */
  color: white;
  /* Button text color */
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit:hover {
  background-color: #218838;
  /* Button background color on hover */
}

.formDiv {
  /* display: flex; */
  align-items: center;
  margin-top: 5rem;
  padding-bottom: 300px;
  padding-top: 300px;
}

#search > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px; 
  justify-content: space-between; 
  padding: 10px; 
  text-align: center;
}

/* End upload form*/